@font-face {
    font-family: 'OpenSansCondensed';
    src:    local('../fonts/Open Sans Cond Light'), 
            local('../fonts/OpenSans-CondensedLight'), 
            url('../fonts/opensanscondlight.woff2') format('woff2'), 
            url('../fonts/opensanscondlight.woff') format('woff'), 
            url('../fonts/opensanscondlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansCondensed';
    src:    local('../fonts/Open Sans Cond Light Italic'), 
            local('../fonts/OpenSans-CondensedLightItalic'), 
            url('../fonts/opensanscondlightitalic.woff2') format('woff2'), 
            url('../fonts/opensanscondlightitalic.woff') format('woff'), 
            url('../fonts/opensanscondlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSansCondensed';
    src:    local('../fonts/Open Sans Condensed Bold'), 
            local('../fonts/OpenSans-CondensedBold'), 
            url('../fonts/opensanscondensedbold.woff2') format('woff2'), 
            url('../fonts/opensanscondensedbold.woff') format('woff'), 
            url('../fonts/opensanscondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Neusa';
  src:  url('../fonts/Neusa-Bold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Neusa-Bold.woff') format('woff'), 
        url('../fonts/Neusa-Bold.ttf')  format('truetype'), 
        url('../fonts/Neusa-Bold.svg#Neusa-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neusa';
  src:  url('../fonts/Neusa-SemiBold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Neusa-SemiBold.woff') format('woff'), 
        url('../fonts/Neusa-SemiBold.ttf')  format('truetype'), 
        url('../fonts/Neusa-SemiBold.svg#Neusa-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

